.ui-grid-a, .ui-grid-b, .ui-grid-c, .ui-grid-d, .ui-grid-e, .ui-grid-f, .ui-grid-g, .ui-grid-h, .ui-grid-i {
  overflow: hidden;
}

.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e, .ui-block-f, .ui-block-g, .ui-block-h, .ui-block-i {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* grid solo: 100 - single item fallback */
.ui-grid-solo .ui-block-a {
  display: block;
  float: none;
}

/* Lower percentages for older browsers (i.e. IE7) to prevent wrapping. -.5px to fix BB5 wrap issue. */
/* grid a: 50/50 */
.ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b {
  width: 49.95%;
}

.ui-grid-a > :nth-child(n) {
  width: 50%;
  margin-right: -.5px;
}

.ui-grid-a .ui-block-a {
  clear: left;
}

.ui-block-left {
  margin-right: .5em;
}

/* grid b: 33/33/33 */
.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-b, .ui-grid-b .ui-block-c {
  width: 33.25%;
}

.ui-grid-b > :nth-child(n) {
  width: 33.333%;
  margin-right: -.5px;
}

.ui-grid-b .ui-block-a {
  clear: left;
}

/* grid c: 25/25/25/25 */
.ui-grid-c .ui-block-a, .ui-grid-c .ui-block-b, .ui-grid-c .ui-block-c, .ui-grid-c .ui-block-d {
  width: 24.925%;
}

.ui-grid-c > :nth-child(n) {
  width: 25%;
  margin-right: -.5px;
}

.ui-grid-c .ui-block-a {
  clear: left;
}

/* grid d: 20/20/20/20/20 */
.ui-grid-d .ui-block-a, .ui-grid-d .ui-block-b, .ui-grid-d .ui-block-c, .ui-grid-d .ui-block-d, .ui-grid-d .ui-block-e {
  width: 19.925%;
}

.ui-grid-d > :nth-child(n) {
  width: 20%;
}

.ui-grid-d .ui-block-a {
  clear: left;
}

.ui-grid-e .ui-block-a, .ui-grid-e .ui-block-b, .ui-grid-e .ui-block-c, .ui-grid-e .ui-block-d, .ui-grid-e .ui-block-e, .ui-grid-e .ui-block-f {
  width: 16.591%;
}

.ui-grid-e > :nth-child(n) {
  width: 16.666%;
}

.ui-grid-e .ui-block-a {
  clear: left;
}

.ui-grid-h .ui-block-a, .ui-grid-h .ui-block-b, .ui-grid-h .ui-block-c, .ui-grid-h .ui-block-d, .ui-grid-h .ui-block-e,
.ui-grid-h .ui-block-f, .ui-grid-h .ui-block-g, .ui-grid-h .ui-block-h, .ui-grid-h .ui-block-i {
  width: 11%;
}

.ui-grid-h > :nth-child(n) {
  width: 11.111%;
}

.ui-grid-h .ui-block-a {
  clear: left;
}