


.ui-popup {
  position: fixed;
  top: 10%;
  right: 10%;
  left: 10%;
  bottom: 10%;
  display: none;

  &.ui-popup-active {
    display: block;
  }

.ui-header {
  height: 12mm;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #0084B9;
  color: white;
  font-size: 6mm;
  font-weight: 100;
}

.ui-header-text {
  top: 2mm;
  height: 10mm;
  position: absolute;
  left: 14mm;
  right: 2mm;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ui-content {
  top: 12mm;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 7mm;
  background:  #f4f3ef;
}


.ui-header-h1 {
  display: block;
  font-size: 5mm;
  font-weight: 100;
  height: 8mm;
  margin: 2mm 0 2mm 19mm;
  overflow: hidden;
  padding: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}


}