  .ui-swipe, .ui-swipe-inner, .ui-swipe-element {
    overflow: hidden;
  }
  .ui-swipe-element {
    margin-bottom: 7mm;
    overflow: hidden;
  }

  @media screen and (min-width: 480px) {

  .ui-swipe {
   margin: 0 auto;
    width: 480px;
  }

  .ui-swipe-inner {
    overflow-y: visible;
    overflow-x: hidden;
  }

  .ui-swipe-element-inner {
    overflow: hidden;
    width: 480px;
  }
}