.ui-button {
  background: #069;
  height: 10mm;
  overflow: hidden;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.ui-button-down {
  background: white;
  color: #069;
}

.ui-button-over {
  background: rgb(28, 148, 196);
  color: white;
}

.ui-header > .ui-button, .work-add > .ui-button {
  width: 12mm;
  height: 12mm;
  margin-bottom: .5em;
}

.ui-button-position-left {
  position: absolute;
  top: 0;
  left: 0;
}

.ui-button-position-right {
  position: absolute;
  top: 0;
  right: 0;
}

.ui-page-adv .ui-button-position-right {
  right:340px;
}

.ui-button-icon {
  background-color: transparent;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  margin: 0;
  width: 12mm;
  height: 12mm;
  float: left;
}

.ui-button-home {
  background-position: -60px -140px;
}

.ui-button-next {
  background-position: -107px -140px;
}

.ui-button-plus, .ui-button-add {
  background-position: -60px -41px;
}

.ui-button-checkbox {
  background-color: transparent;
  background-image: url(../images/checkbox.png);
  background-repeat: no-repeat;
  background-position: 1.5mm 1.5mm;
}

.ui-button-facebook {
  background-color: transparent;
  background-image: url(../images/facebook.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.ui-button-google {
  background-color: transparent;
  background-image: url(../images/google.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.ui-button-email {
  background-color: transparent;
  background-image: url(../images/email.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.ui-button-down .ui-button-checkbox {
  background-image: url(../images/checked.png);
}

.ui-button-over .ui-button-checkbox {
  background-image: url(../images/checked.png);
}

.ui-button-checked .ui-button-checkbox {
  background-image: url(../images/checked.png);
}

.ui-button-inner {
  margin: 2mm;
  text-align: center;
  color: white;
}

.ui.header > .ui-button-inner {
  margin: 3mm;
}