div.ui-input-text {
  padding: 0 .5em;
  background: #fff;
  margin: 0 0 .5em 0;
  background-image: none;
  position: relative;
  overflow: hidden;
}

input.ui-input-text {
  border: 0;
  width: 100%;
  margin: .5em 0;
  display: block;
  background: #fff;
  outline: 0 !important;
  min-height: 1.4em;
  line-height: 1.4em;
  font-size: 16px;
}

div.ui-input-text-disabled {
  background: #e0e0e0;
}

input.ui-input-text:disabled {
  color: #c0c0c0;
  background: #e0e0e0;
}

textarea.ui-input-text {
  height: 50px;
  margin-bottom: .5em;
  background: #fff;
  padding: .4em;
  min-height: 1.4em;
  line-height: 1.4em;
  font-size: 16px;
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
}