.ui-select {
  overflow: hidden;
  color: white;
  margin-bottom: .5em;
}

.ui-select-li {
  overflow: hidden;
  background: #069;
  margin-bottom: 1px;
}

.ui-select-li-inner {
  padding: 3mm 6mm;
}

.ui-select-li-selected {
  color: #069;
  background: white;
}