.ui-table {
  overflow: hidden;
  text-align: left;
  font-size: 13px;
  font-family: arial;
}

.ui-table-header, .ui-table-row {
  overflow: hidden;
}

.ui-table-header-cell {
  overflow: hidden;
  background: white;
  border-bottom: #a0a0a0 solid 1px;
  padding: 8px;
}

.ui-table-cell {
  overflow: hidden;
  border-bottom: #a0a0a0 solid 1px;
  padding: 8px;
  max-width: 300px;
  height: 15px;
  text-overflow: ellipsis;
}